<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Covid</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/index_login">Covid</a>
            <button
                class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Main</a></li> -->
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="#signout">Sign Out</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="/fav">Favorite</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="page-section bg-primary text-white mb-0">
        <div class="container d-flex align-items-left flex-column">
            <h1 id="city" class="masthead-heading text-uppercase mb-0" style="padding-top:40px;padding-bottom:10px">
                จังหวัด</h1>
            <p id="showdata"></p>
        </div>
        <div class="container">
            <div class="media" style="padding-top:10px;padding-bottom:10px">
                <img id="1_img" class="img-fluid img-responsive" width="300" height="200"
                    src="/assets/img/no-image.jpg">
                <div class="media-body pl-3">
                    <h5 id="1_name">name</h5>
                    <p id="1_detail">detail</p>
                    <p id="seemore1" onclick="seemore(1)">See more.</p>
                    <input id="1_id" type="hidden" value=""></input>
                    <i onclick=fav(1) class="far fa-heart"></i>
                </div>
            </div>
            <div class="media" style="padding-top:10px;padding-bottom:10px">
                <img id="2_img" class="img-fluid img-responsive" width="300" height="200"
                    src="/assets/img/no-image.jpg">
                <div class="media-body pl-3">
                    <h5 id="2_name">name</h5>
                    <p id="2_detail">detail</p>
                    <p id="seemore2" onclick="seemore(2)">See more.</p>
                    <input id="2_id" type="hidden" value=""></input>
                    <i onclick=fav(2) class="far fa-heart"></i>
                </div>
            </div>
            <div class="media" style="padding-top:10px;padding-bottom:10px">
                <img id="3_img" class="img-fluid img-responsive" width="300" height="200"
                    src="/assets/img/no-image.jpg">
                <div class="media-body pl-3">
                    <h5 id="3_name">name</h5>
                    <p id="3_detail">detail</p>
                    <p id="seemore3" onclick="seemore(3)">See more.</p>
                    <input id="3_id" type="hidden" value=""></input>
                    <i onclick=fav(3) class="far fa-heart"></i>
                </div>
            </div>
            <div class="media" style="padding-top:10px;padding-bottom:10px">
                <img id="4_img" class="img-fluid img-responsive" width="300" height="200"
                    src="/assets/img/no-image.jpg">
                <div class="media-body pl-3">
                    <h5 id="4_name">name</h5>
                    <p id="4_detail">detail</p>
                    <p id="seemore4" onclick="seemore(4)">See more.</p>
                    <input id="4_id" type="hidden" value=""></input>
                    <i onclick=fav(4) class="far fa-heart"></i>
                </div>
            </div>
            <div class="media" style="padding-top:10px;padding-bottom:10px">
                <img id="5_img" class="img-fluid img-responsive" width="300" height="200"
                    src="/assets/img/no-image.jpg">
                <div class="media-body pl-3">
                    <h5 id="5_name">name</h5>
                    <p id="5_detail">detail</p>
                    <p id="seemore5" onclick="seemore(5)">See more.</p>
                    <input id="5_id" type="hidden" value=""></input>
                    <i onclick=fav(5) class="far fa-heart"></i>
                </div>
            </div>
    </section>

    <section class="page-section" id="signout">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">ACCOUNT</h2>
            <!-- Contact Section Form-->
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                    <form id="signout" name="sentMessage" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <br>
                                <h3 id="user">User Name : </h3>
                            </div>
                        </div>
                        <br />

                    </form>
                </div>
            </div>
        </div>
    </section>
    <button class="btn btn-primary btn-xl" id="btnout" type="submit" onclick="signout()"
        style="margin-left: 44%;margin-bottom: 1ch;margin-top: -5ch;">SIGN OUT</button>
    <!-- Footer-->

    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © Your Website 2020</small></div>
    </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
                class="fa fa-chevron-up"></i></a>
    </div>
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap-4 js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- pagination -->
    <script src="js/pagination.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- favorite -->
    <script src="js/favorite.js"></script>
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <script>
        var category = [];
        $(document).ready(readcookie(), setup())
        function setup() {
            $.ajaxSetup({
                headers: {
                    'Authorization': 'bearer G(LsNMYQxwthtlPATlMG9zWWTmzqnzcNuK6fQeo86o0KzNSdoF2kMFReYcJ2KwTCpq8QfxXKL00BqUe7Jt4TJtW=====2',
                    'Accept-Language': 'th'
                }
            });
            var provinceid = 0;//รหัสจังหวัด
            var x = 0; //จำนวนผู้ป่วย
            var y = 0; //หายแล้วF
            var z = 0; //กำลังรักษา
            const queryString = window.location.search;//เอาurlมาแล้วแบ่งเป็นคำ
            const urlParams = new URLSearchParams(queryString);
            city = urlParams.get('city');
            arr_city = ["Bangkok", "Krabi", "Kanchanaburi", "Kalasin", "Kamphaeng Phet", "Khon Kaen", "Chanthaburi", "Chachoengsao", "Chonburi", "Chai Nat", "Chaiyaphum", "Chumphon", "Chiang Rai", "Chiang Mai", "Trang", "Trat", "Tak", "Nakhon Nayok", "Nakhon Pathom", "Nakhon Phanom", "Nakhon Ratchasima", "Nakhon Si Thammarat", "Nakhon Sawan", "Nonthaburi", "Narathiwat", "Nan"
                , "Bueng Kan", "Buriram", "Pathum Thani", "Prachuap Khiri Khan", "Prachinburi", "Pattani", "Phra Nakhon Si Ayutthaya", "Phang Nga", "Phatthalung", "Phichit", "Phitsanulok", "Phetchaburi", "Phetchabun", "Phrae", "Phayao", "Phuket", "Maha Sarakham", "Mukdahan", "Mae Hong Son", "Yala", "Yasothon", "Roi Et", "Ranong", "Rayong", "Ratchaburi", "Lopburi", "Lampang", "Lamphun", "Loei",
                "Sisaket", "Sakon Nakhon", "Songkhla", "Satun", "Samut Prakan", "Samut Songkhram", "Samut Sakhon", "Sa Kaeo", "Saraburi", "Sing Buri", "Sukhothai", "Suphan Buri", "Surat Thani", "Surin", "Nong Khai", "Nong Bua Lamphu", "Ang Thong", "Udon Thani", "Uthai Thani", "Uttaradit", "Ubon Ratchathani", "Amnat Charoen"]
            document.getElementById('city').innerHTML = city;
            for (i = 0; i <= arr_city.length; i++) {
                if (city == arr_city) {
                    provinceid = i + 1;
                } else provinceid = 1;
            }
            var url = 'https://covid19.th-stat.com/api/open/cases';
            fetch(url)
                .then((r) => r.json())
                .then(function (data) {
                    console.log(data)
                    for (i = 0; i < data.Data.length; i++) {
                        if (data.Data[i].ProvinceId == provinceid) {//https://www.govesite.com/uploads/20150616220039Pp9UPrr/20180720112427_3_hDHa8tk.pdf อันนี้ลำดีบจังหวัด
                            x++;
                            if (data.Data[i].StatQuarantine == 0) {
                                y++;
                            } else z++;
                        }
                    }
                    $('#showdata').html("จำนวนผู้ป่วยทั้งหมดในจังหวัด : " + x + " คน" + "<br>" +
                        "รักษาหายแล้วจำนวน : " + y + " คน" + "<br>" +
                        "กำลังรักษาจำนวน : " + z + " คน");
                });
            api = "https://tatapi.tourismthailand.org/tatapi/v5/places/search?&categories=OTHER&provinceName=" + city;
            if (city) {
            } else {
                city = "Bangkok"
            }
            const decodeurl = decodeURIComponent(api);

            $.getJSON(decodeurl, function (json) {
                console.log(json)
                var one = ["1_name", "1_detail", "1_id", "1_img"];
                var two = ["2_name", "2_detail", "2_id", "2_img"];
                var three = ["3_name", "3_detail", "3_id", "3_img"];
                var four = ["4_name", "4_detail", "4_id", "4_img"];
                var five = ["5_name", "5_detail", "5_id", "5_img"];
                var num = ""
                for (i = 0; i <= 5; i++) {
                    if (i == 0) {
                        num = one
                    } else if (i == 1) {
                        num = two
                    } else if (i == 2) {
                        num = three
                    } else if (i == 3) {
                        num = four
                    } else if (i == 4) {
                        num = five
                    } else {
                        break;
                    }
                    document.getElementById(num[0]).innerHTML = JSON.stringify(json.result[i].place_name).slice(1, -1)
                    document.getElementById(num[1]).innerHTML = JSON.stringify(json.result[i].location.address).slice(1, -1)
                    document.getElementById(num[2]).value = JSON.stringify(json.result[i].place_id).slice(1, -1);
                    if (json.result[i].thumbnail_url) { document.getElementById(num[3]).src = JSON.stringify(json.result[i].thumbnail_url).slice(1, -1) }
                    console.log(json.result[i].category_code);
                    category.push(json.result[i].category_code)
                    console.log(category)
                }
            });
        }
        function seemore(id) {
            var id_city = 0
            if (id == 1) {
                id_city = $("#1_id").val()
            } else if (id == 2) {
                id_city = $("#2_id").val()
            } else if (id == 3) {
                id_city = $("#3_id").val()
            } else if (id == 4) {
                id_city = $("#4_id").val()
            } else if (id == 5) {
                id_city = $("#5_id").val()
            }
            url = 'http://localhost:3000/users/location/' + id_city;
            console.log(url)
            $.get(url, function (data, status) {
                console.log(data)
                console.log(data[0].detail)
                document.getElementById("seemore" + id).innerHTML = JSON.stringify(data[0].detail);
            });
        }

        $(document).ready(function () {
            url = 'http://localhost:3000/users/username/'
            $.get(url, function (result) {
                document.getElementById("user").innerHTML = "UserName : " + (result);
            });
        });
        function signout() {
            username = "0";
            url = 'http://localhost:3000/users/logout/' + username;
            $.get(url, function (result) {
            });
            window.location.replace("/");
        }

        function fav(id) {
            var category_fav = ""
            console.log("this id: " + id)
            alert("saving")
            var city_id = 0
            if (id == 1) {
                city_id = $("#1_id").val()
                category_fav = category[0];
            } else if (id == 2) {
                city_id = $("#2_id").val()
                category_fav = category[1];
            } else if (id == 3) {
                city_id = $("#3_id").val()
                category_fav = category[2];
            } else if (id == 4) {
                city_id = $("#4_id").val()
                category_fav = category[3];
            } else if (id == 5) {
                city_id = $("#5_id").val()
                category_fav = category[4];
            }
            var url = 'http://localhost:3000/users/fav/' + city_id + "/" + category_fav;
            console.log(url)
            $.get(url, function (result) {
                console.log(result)
            })
        }
    </script>
</body>

</html>